<% location = @result[:location] %>
<% checkins = @result[:checkins] %>
<div class="container small-location" id="contain-small-location">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-8 col-md-offset-2">
      <div class="image-small" style="background-image: url('../images/locations/<%= name_cleaner(location.name) %>.jpg')">
        <div class="filler"></div>
        <div class="name">
          <%= location.name %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-8 col-md-offset-2">
      <!-- Logic to swap checkin/checkout buttons depending on user checkin status -->
        <% if checkins.nil? %>
          <a href="/checkin_mobile/<%= location.id %>"><button>ATTEND</button></a>
        <% else %>
          <% if checkins.any?{|checkin| checkin.user_id == session[:user].id } %>
          <a href="/checkout_mobile/<%= location.id %>"><button class="attending">I'M ATTENDING</button></a>
          <% else %>
          <a href="/checkin_mobile/<%= location.id %>"><button>ATTEND</button></a>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-8 col-md-offset-2">
      <div class="image-circles">
         <% if checkins.nil? %>
            <div class="image-holder"></div>
            <div class="image-holder"></div>
            <div class="image-holder"></div>
            <div class="image-holder last"></div>
          <% else %>
            <% (0..2).each do |i| %>
              <% if checkins[i] %>
                <% result = MakerSpots::GetUserById.run(checkins[i].user_id) %>
                <% gravatar = MakerSpots::GetGravatar.run(result[:user].email) %>
                <div class="image-holder" style="background-image: url('<%=gravatar[:gravatar]%>') "></div>
              <% else %>
                <div class="image-holder"></div>
              <% end %>
            <% end %>
            <% if checkins[3] %>
              <div class="image-holder counter last">+<%= checkins.length - 3 %></div>
            <% else %>
              <div class="image-holder last"></div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-8 col-md-offset-2">
      <div class="info">
        <span class="phone">Phone: <%= location.phone %> </span>
        <span class="address">Location: <%= location.address %></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-8 col-md-offset-2">
      <div class="about">
        <span class="title">ABOUT:</span>
        <span class="descript-txt">
          <%= location.description %>
        </span>
      </div>
    </div>
  </div>

</div>
